body{
    font-family: 'Work Sans', sans-serif;    
}
img{
    width: 100%;
    height: auto;
}
abbr[title] {
     text-decoration: none;
}
main{
    max-width: 1114px;
    margin: 0 auto;
}
header {
    max-width: 1114px;
    height: auto;
    margin: 0 auto;
    padding: 16px; 
}
header > nav > menu {
    padding-left: 0;
}
header > nav > menu > li {
    display: inline-block;
    margin-right: 16px;
}
footer {
    max-width: 1114px;
    margin: 0 auto;
    text-align: center;
}
.pagina-inicial figure {
    width: 50%;
    margin: 5px auto;
}
.pagina-inicial a {
    display: block;
    text-align: center;
}
