body{
    font-family: 'Work Sans', sans-serif;    
}
figure{
    width: 50%;
    margin: 5px auto;
}
img{
    width: 100%;
    height: auto;
}
abbr[title] {
     text-decoration: none;
}
main{
    max-width: 1114px;
    margin: 0 auto;
}